@import "../../shared/vars";

.sort-list {
  &_active {
    .sort-list__title {
      color: $color-active
    }

    .sort-list__ul {
      display: block;
    }
  }
}
  
.sort-list__title {
  line-height: 30px;
  color: $color-gray;
  font-size: 12px;
  position: relative;
  padding-left: 30px;
  margin: 15px 0 0;
  font-weight: 600;
  cursor: pointer;
  position: relative;

  .sort-list_active &,
  &:hover {
    color: $color-active;
  }

  .sort-list_active &:before {
    transform: rotate(0deg);
    background-image: url(../../img/arrow-down-red.svg);
  }
    
  &:before {
    content: "";
    background-image: url(../../img/arrow-down.svg);
    transform: rotate(270deg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: 9px 9px;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 24px;
  }
}

.sort-list__ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 30px; 

  &.sort-list__ul_secondary {
    display: none;
    padding-left: 0;

    .sort-list__li {
      padding-left: 25px;
    }
  }
}

.sort-list__li {
  padding-left: 15px;
  position: relative;

  &_active {
    .sort-list__ul.sort-list__ul_secondary {
      display: block;
    }

    .sort-list__ul.sort-list__ul_secondary & {
      //padding-left: 13.5px;

      &:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: $color-active;
        border-radius: 44px;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
      }
    }
  }
}

.sort-list__link {
  font-size: 12px;
  text-decoration: none;
  color: $color-gray;
  font-weight: 100;
  line-height: 32px;
  display: block;
  text-decoration: none !important;

  .sort-list__li_active > & { 
    color: $color-active; 
    font-weight: 600;
  }

  &_dropdown {
    position: relative;

    .sort-list__li_active &:before {
      background-image: url(../../img/arrow-down-red.svg); 
      transform: rotate(0deg);
    }

     &:before {
      content: "";
      background-image: url(../../img/arrow-down.svg);
      transform: rotate(270deg);
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-size: 9px 9px;
      background-position: 50% 50%;
      position: absolute;
      left: -30px;
      top: 0;
      bottom: 0;
      width: 24px;
    } 
  }
}