.table {
  display: none;
  margin-top: 67px;

  &_active,
  &_sub {
    display: block
  }

  &_sub {
    margin-bottom: 40px;
    margin-top: 0;
    padding: 0 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &_header-only {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.table__body {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
  //padding: 20px 0;
  padding: 0;
  margin: 0;
  
  .table.table_sub & {
    padding: 0;
  }
}

.table__row {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  //margin-top: 50px;
  padding: 25px 0;
  cursor: pointer;
  border: 1px solid #fff;
  
  margin-top: 5px;

  &_active,
  &:hover {
    border-color:rgba(151,151,151,.2);
  }
  
  &:first-child {
    margin-top: 0;
  }

  .table.table_sub & {
    height: 34px;
    margin-top: 0;
    line-height: 34px;
    border: 1px solid #fff;
    padding: 0 10px;

    &:nth-child(2n) {
      background-color: #FDFDFD
    }

    .table__cell-data {
      line-height: 34px;
    }
  }

  .table.table_sub:not(.table_header-only) &:hover {
    border-color:#D83F2A
  }
}

.table__cell {
	flex-grow: 1;
	position: relative;
	//text-align: center;
  
  &_first {
    width: 137px;
    max-width: 137px;

    .table.table_sub & {
      width: 180px;
      max-width: 180px;
    }
  }

  &_last {
    max-width: 120px;
    .table.table_sub & {
      max-width: 65px;
    }
  }

  &_features {
    max-width: 150px;
    width: 150px;
    margin-right: 30px;
  }

  &_colors {
    width: 60px;
  }

  .table__row.table__row_active > &:not(.table__cell_first) {
    display: none;
  }
}

.table__photo {
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin: 4px auto 0;
  display: block
}

.table__product-title {
  margin: 15px auto 0;
  display: block;
	color: #D83F2A;
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
  font-family: Muli;
  position: relative;
  white-space: nowrap;
  padding-left: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;

  .table__row_active & { overflow: visible; }

  &:before {
    content: "";
    background-image: url(../../img/arrow-down.svg);
    background-size: 10px 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 32px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
}

.table__cell-title {
  margin: 0 0 6px;
  padding: 0;
	opacity: 0.5;
	color: #4D4D4D;
	font-family: "Open Sans";
	font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
}

.table__cell-data {
  margin: 0;
  padding: 0;
	//width: 40px;
	color: #4D4D4D;
	font-family: Muli;
	font-size: 10px;
  line-height: 18px;
  text-align: left;

  &_highlight {
    color: #D83F2A;
  }
}

.table__features {
  display: flex;
  flex-wrap: wrap;
  
  &_single-col {
    .table__feature {
      flex-basis: 100%;
    }
  }
}

.table__feature {
  flex-basis: 50%;
  text-align: left;
	height: 16px;
	color: #4D4D4D;
	font-family: Muli;
	font-size: 10px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  margin-top: 12px;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;

  &_inline {
    margin-right: 20px;
    &:last-child { margin-right: 0 }
  }

  &:before {
    content: "";
    background-image: url(../../img/info.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &_manual:before {
    background-image: url(../../img/pdf-doc.svg);
  }
  &_calc:before {
    background-image: url(../../img/light-calc.svg);
  }

  &_icon-only {
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
    height: 32px;
    margin-top: 0;
    margin-right: 20px;
    padding-left: 0;
    width: 20px;

    &:before {
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
    }

    &:last-child { margin-right: 0 }
  }
}

.table__sublist {
  display: none;
  flex-basis: 100%;

  .table__row.table__row_active & {
    display: block;
  }
}