.product {
  width: 100%;
  padding-top: 50px;
}

.product__top {
  padding: 0 160px;
  display: flex;
}
.product__photos {
  min-width: 380px;
}
.product__main-photo {
  min-height: 240px;
  width: 240px;
  margin: 0 auto;
  display: block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.product__desc {
  width: 320px;
  margin-left: 160px;
}

.product__title {
  //height: 50px;
  //width: 341.22px;
  color: #4D4D4D;
  font-family: Muli;
  font-size: 36px;
  font-weight: 300;
  line-height: 54px;
  margin: 0;
}

.product__cat {
  //height: 16px;
  //width: 323.41px;
  color: #4D4D4D;
  font-family: Muli;
  font-size: 12px;
  line-height: 16px;
}

.product__product-data-link {
  display: block;
  //height: 16px;
  //width: 425.28px;
  color: #B53737;
  font-family: Muli;
  font-size: 12px;
  line-height: 16px;
}

.product__text {
  //height: 140px;
  //width: 443.49px;
  margin-top: 40px;
  color: #4D4D4D;
  font-family: Muli;
  font-size: 14px;
  line-height: 20px;
}

.product__list-title {
  height: 18px;
  width: 60px;
  color: #4D4D4D;
  font-family: Muli;
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
}

.product__list-item {
  display: flex;
  align-items: center;


  color: #4D4D4D;
  font-family: Muli;
  font-size: 12px;
  line-height: 14px;
}

.product__list-popup {
  background-image: url(../../img/info.svg);
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  padding: 0 !important;
  cursor: pointer;
  position: relative;
  //margin-left: auto;
  background-repeat: no-repeat;
  //opacity: 0;
  //transition: opacity ease .25s;
  margin-right: 16px;

  &:hover {
    opacity: 1 !important;
  }
}

