@import "../shared/vars";
@import "../shared/mixins";

.col-container {
  display: flex;
  flex-grow: 1;
  margin-top: 85px;
  justify-content: space-between;

  @include mq('mobile') {
    margin-top: 10px;
  }
}

.lcol {
  width: 283px;
  padding-top: 84px;
  padding-left: 24px;

  @include mq('mobile') {
    display: none;
  }
}

.rcol {
  position: relative;
  width: 1025px;

  @include mq('mobile') {
    width: auto;
  }
}

.view-toggles {
  position: absolute;
  right: 25px;
  top: 10px;
  display: flex;
}

.view-toggles__toggle {
  width: 24px;
  height: 24px;
  text-indent: -999px;
  overflow: hidden;
  opacity: .5;
  cursor: pointer;

  &_active {
    opacity: 1;
  }

  &_card {
    background-image: url(../img/cardview.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-right: 15px;
    width: 30px;
    height: 24px;

    @include mq('mobile') {
      width: 18px;
      height: auto;
      margin-right: 10px;
    }
  }

  &_table {
    position: relative;
    height: 24px;
    
    @include mq('mobile') {
      height: 15px;
      width: 17px;
    }

    &:after,
    &:before {
      content: "";
      height: 9px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: #d83f2a;
      @include mq('mobile') {
        height: 5.5px;
      }
    }
    &:before {
      bottom: 0;
      top: auto;
    }
  }
}