@import "../shared/vars";
@import "../shared/mixins";

.col-container {
  display: flex;
  flex-grow: 1;
  margin-top: 85px;
  justify-content: space-between;

  @include mq('mobile') {
    margin-top: 10px;
  }
}

.lcol {
  width: 283px;
  padding-top: 84px;
  padding-left: 24px;

  @include mq('mobile') {
    display: none;
  }
}

.rcol {
  position: relative;
  width: 1025px;

  @include mq('mobile') {
    width: auto;
  }
}