@import "../../shared/vars";
@import "../../shared/mixins";
@import "../../shared/common";

.header {
	width: 100%;
	background-color: #fff;
  box-shadow: 0 6px 8px 0 rgba(213,213,213,0.15);
}

.header__container {
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  height: 72px;
}

.header__logo {
  background-image: url(../../img/logo@2x.png);
  background-size: 100% auto;
  width: 90px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 56px;
  transform: translateY(-50%);
}

.header__nav {
  position: absolute;
  top: 50%;
  right: 200px;
  transform: translateY(-50%); 

  @include mq('mobile') {
    display: none;
  }
}

.header__nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header__nav-li {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.header__nav-link {
	color: #4D4D4D;
	font-family: Muli;
	font-size: 14px;
  line-height: 22px;
  padding: 0 20px;
  text-decoration: none;
}

.header__actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%)
}

.header__action {
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-right: 25px;
  width: 24px;
  height: 24px;
  background-size: 22px 22px;

  &:last-child {
    margin-right: 0;
  }

  &_search {
    background-image: url(../../img/search.svg);
  }

  &_user {
    background-image: url(../../img/user.svg);
  }
  &_lang {
    background-image: url(../../img/language.svg);
    background-size: 24px 24px;
  }
}