@import "../../shared/vars";
@import "../../shared/mixins";

.grid {
	margin-top: 67px;
	display: none;
	position: relative;
	left: 30px;
	
	&_active {
		display: block;
	}

	@include mq('mobile') {
		left: 0;
	}
}

.grid__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.grid__li {
	flex-basis: 20%;
	background-size: 110px auto;
	background-position: 50% 20px;
	background-repeat: no-repeat;
	position: relative;
	padding-top: 180px;
	text-align: center;
	margin-bottom: 32px;
	
	@include mq('mobile') {
		flex-basis: 50%;
	}

	&:after {
		content: "";
		height: 15px;
		left: 0;
		right: 0;
		opacity: .1;
		position: absolute;
		top: 157px;
		background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
	}
}

.grid__badge {
	position: absolute;
	left: 25px;
	top: 7px;
	height: 1.16%;
	width: 1.45%;
	color: #D83F2A;
	font-family: "Open Sans";
	font-size: 10px;
	font-weight: 800;
	line-height: 14px;
}

.grid__link {
	color: #D83F2A;
	//font-family: "Open Sans";
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	display: block;
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
  
  &:after {
    content: "";
  	height: 0.56%;
	  width: 9.32%;
	  opacity: 0.05;
	  background: radial-gradient(circle, #000000 0%, rgba(0,0,0,0) 100%);

  }
}

.grid__colors {
	display: flex;
	//position: absolute;
	//bottom: 0;
	//left: 50%;
	margin: 20px auto 0;
	padding: 0;
	list-style: none;
	width: 80px;
	//transform: translateX(-50%);
	justify-content: space-around;
}

.grid__color {
	box-sizing: border-box;
	width: 12px;
	height: 12px;
	border-radius: 44px;
	//background: radial-gradient(circle, #FFFFFF 0%, #FEFEFE 59.08%, #F6F6F6 100%);

	&:first-child {
		border: 0.8px solid #FF7676;
		box-shadow: 0 0 5px 0 rgba(255,60,60,0.5);
	}
}