@import '../../Shared/vars';

.filters {
  margin-top: 40px;
}

.filters__clear {
  margin-top: 10px;
	color: $color-active;
	font-family: Muli;
	font-size: 12px;
  line-height: 30px;
  padding-left: 24px;
  position: relative;
  display: block;

  &::before {
    content: "";
    background-image: url(../../img/close.svg);
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
  }
}

.filters__group {
  margin-top: 30px;

  &:hover {
    .filters__info {
      opacity: .5;
    }
  }
}

.filters__size {
  display: flex;
  justify-content: space-between;
  width: 155px;
  margin-top: 8px;

  .ant-input {
    height: 23px;
    width: 45px;
    border: 0.5px solid #979797;
    opacity: .5;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.filters__input-wrap {
  max-width: 50%;
  flex-grow: 1;

  span {
    display: block;
    margin-top: 8px;
    opacity: .5;
    color: #4D4D4D;
    font-family: "Open Sans";
    font-size: 10px;
    line-height: 16px;
  }
}

.filters__note-text {
  display: block;
	opacity: .25;
	color: #4D4D4D;
	font-family: "Open Sans";
	font-size: 12px;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 20px;
  width: 45px;
}

.filters__group-title {
  margin: 0;
  padding: 0;
	color: #474747;
	font-family: Muli;
	font-size: 12px;
  line-height: 30px;
  position: relative;
  max-width: 204px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filters__info {
  //background-image: url(../../img/question.svg);
  //background-size: 15px 15px;
  //width: 15px;
  //height: 15px;

  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
  opacity: 0;
  transition: opacity ease .25s;

  &:hover {
    opacity: 1 !important;
  }
}

.filters__advanced-lists {
  margin-top: 40px;
  .filters__group:first-child { margin-top: 0 }
}

.filters__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters__filter {
  max-width: 204px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  &_shorter {
     max-width: 115px;
  }

  &_has-text {
    .filters__filter-color {
      margin-right: 0;
    }
  }

  &_checkbox {
    .ant-checkbox-inner {
      height: 16px;
      width: 16px;
      opacity: .75 !important;
      border-color: #918BA3;
    }

    .ant-checkbox-wrapper {
      min-width: 120px;
    }

    .ant-checkbox-wrapper:hover .ant-checkbox-inner, 
    .ant-checkbox:hover .ant-checkbox-inner, 
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: #918BA3;
    }

    .ant-checkbox + span {
      width: 24px;
      color: #999;
      font-family: Muli;
      font-size: 12px;
      line-height: 30px;
      padding: 0 0 0 14px
    }


    .ant-checkbox-checked .ant-checkbox-inner:after {
      border-color: #444;
    }

    .ant-checkbox-checked:after {
      border-color: $color-gray;
    }
  }

  &:hover {
    .filters__filter-info { 
      opacity: .5 
    }
  }
}

.filters__label {
  cursor: pointer;
}

.filters__slider {
  .ant-slider {
    margin: 50px 0 0;
    max-width: 220px
  }
  .ant-slider-rail,
  .ant-slider:hover .ant-slider-rail {
    background-color: #D3D3D3;
  }
  
  .ant-slider-track,
  .ant-slider:hover .ant-slider-track {
    background-color: #747171;
    opacity: .5;
  }

  .ant-slider-handle {
    border-width: 4px;
    border-color: #fff;
    background-color: #747171;
    box-shadow: 0 2px 4px 0 rgba(12,0,51,0.1);
    width: 18px;
    height: 18px;
    margin-top: -7px;
  }
  .ant-slider-handle.ant-tooltip-open,
  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #fff;
  }
}

.filters__filter-info {
  //background-image: url(../../img/info.svg);
  //background-size: 14px auto;
  //background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;

  width: 18px;
  height: 20px;
  padding: 0 !important;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity ease .25s;

  &:hover {
    opacity: 1 !important;
  }
}

.filters__filter-color {
	box-sizing: border-box;
	height: 20px;
  width: 20px;
  background-size: 100% auto;
	background-repeat: no-repeat;
  padding: 0 !important;
  margin-left: auto;
  margin-right: 40px;
}

.filters__wrap {
  &_top-margin {
    margin-top: 75px;
  }
}