@import '../../Shared/vars';

.filters {
  margin-top: 40px;
}

.filters__clear {
  margin-top: 10px;
	color: $color-active;
	font-family: Muli;
	font-size: 12px;
  line-height: 30px;
  padding-left: 24px;
  position: relative;
  display: block;

  &::before {
    content: "";
    background-image: url(../../img/close.svg);
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
  }
}

.filters__group {
  margin-top: 20px;
}

.filters__size {
  display: flex;
  justify-content: space-between;
  width: 115px;
  margin-top: 8px;

  .ant-input {
    height: 23px;
    width: 40px;
    border: 0.5px solid #979797;
    opacity: 0.5;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.filters__input-wrap {
  span {
    display: block;
    margin-top: 8px;
    opacity: 0.5;
    color: #4D4D4D;
    font-family: "Open Sans";
    font-size: 10px;
    line-height: 16px;
  }
}

.filters__note-text {
  display: block;
	opacity: 0.25;
	color: #4D4D4D;
	font-family: "Open Sans";
	font-size: 12px;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 20px;
  width: 45px;
}

.filters__group-title {
  margin: 0;
  padding: 0;
	//width: 75px;
	color: #474747;
	font-family: Muli;
	font-size: 12px;
  line-height: 30px;
  position: relative;
  max-width: 180px;
}

.filters__info {
  background-image: url(../../img/question.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-size: 15px 15px;
}

.filters__advanced-lists {
  margin-top: 40px;
  .filters__group:first-child { margin-top: 0 }
}

.filters__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters__filter {
  max-width: 157px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  &_shorter {
     max-width: 115px;
  }

  &_checkbox {
    .ant-checkbox-inner {
      height: 16px;
      width: 16px;
      opacity: 0.5;
      border-color: #918BA3;
    }

    .ant-checkbox-wrapper:hover .ant-checkbox-inner, 
    .ant-checkbox:hover .ant-checkbox-inner, 
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      opacity: 1;
      border-color: #918BA3;
    }

    .ant-checkbox + span {
      width: 24px;
      color: #999;
      font-family: Muli;
      font-size: 12px;
      line-height: 30px;
      padding: 0 0 0 14px
    }

    .ant-checkbox-checked .ant-checkbox-inner, 
    .ant-checkbox-indeterminate .ant-checkbox-inner {
      background-color: $color-active;
      border-color: $color-active;
      opacity: 1;
    }

    .ant-checkbox-checked:after {
      border-color: $color-active
    }
  }
}

.filters__label {
  cursor: pointer;
}

.filters__slider {
  .ant-slider {
    margin: 12px 0 0;
    max-width: 180px
  }

  .ant-slider-rail {
    background-color: #D3D3D3;
  }
  .ant-slider:hover .ant-slider-rail {
    background-color: #D3D3D3;
  }

  
  .ant-slider-track {
    //background-color: rgba(216,63,42,.4)
    background-color: $color-active;
  }
  .ant-slider:hover .ant-slider-track {
    //background-color: rgba(216,63,42,.4)
    background-color: $color-active;
  }

  .ant-slider-handle {
    border-width: 4px;
    border-color: #fff;
    background-color: $color-active;
    box-shadow: 0 2px 4px 0 rgba(12,0,51,0.1);
    width: 18px;
    height: 18px;
    margin-top: -7px;
  }
  .ant-slider-handle.ant-tooltip-open,
  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #fff;
  }
}

.filters__filter-info {
  background-image: url(../../img/info.svg);
  background-size: 14px auto;
  background-position: 50% 50%;
  width: 14px;
  height: 30px;
  padding: 0 !important;
  cursor: pointer;
  position: relative;

  background-repeat: no-repeat;
}

.filters__filter-color {
	box-sizing: border-box;
	height: 14.8px;
	width: 14.8px;
	border: 0.8px solid #EAEAEA;
  //box-shadow: 0 0 5px 0 rgba(125,125,125,0.5);
  border-radius: 44px;
  padding: 0 !important;
}

.filters__wrap {
  
  &_top-margin {
    margin-top: 34px;
  }
}