@import '~normalize.css/normalize.css';
@import '~antd/dist/antd.css';

@import '../shared/common';

body {
  font-family: Muli;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.col-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  @include mq('mobile') {
    margin-top: 10px;
  }
}

.lcol {
  padding-top: 50px;
  padding-left: 80px;
  padding-bottom: 50px;
  min-width: 332px;
  background-color: #f9f9f9;
  @include mq('mobile') {
    display: none;
  }
}

.rcol {
  position: relative;
  min-width: 1035px;
  padding-top: 50px;
  padding-left: 35px;
  @include mq('mobile') {
    width: auto;
  }
}