@import '~normalize.css/normalize.css';
@import '~antd/dist/antd.css';

@import '../shared/common';

body {
  font-family: Muli;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding-bottom: 100px;
}